[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"

[packages]
discord = "*"
flask = "*"
requests = "*"
pyjwt = "*"

[requires]
python_version = "3.8"
